<div class="document-history-container">
  <!-- Encabezado y controles -->
  <div class="header">
    <h2>Historial del Documento</h2>
  </div>

  <!-- Línea de tiempo -->
  <div class="timeline">
    <!--<div *ngFor="let step of documentHistory?.steps" class="timeline-step" [class.active]="step.isCurrent">-->
      @for (step of documentHistory; track $index) {}
        @switch (step.status) {
          @case ('received') {
            <app-received-step  [step]="step"></app-received-step>

          }
        <!--<app-in-process-step *ngSwitchCase="'in_process'" [step]="step"></app-in-process-step>
      <app-in-signing-step *ngSwitchCase="'in_signing'" [step]="step"></app-in-signing-step>
      <app-signed-step *ngSwitchCase="'in_signed'" [step]="step"></app-signed-step>
      <app-completed-step *ngSwitchCase="'completed'" [step]="step"></app-completed-step>
      <app-delivered-step *ngSwitchCase="'delivered'" [step]="step"></app-delivered-step>
      <app-archived-step *ngSwitchCase="'archived'" [step]="step"></app-archived-step>
      <app-cancelled-step *ngSwitchCase="'cancelled'" [step]="step"></app-cancelled-step>
      <app-reopened-step *ngSwitchCase="'reopened'" [step]="step"></app-reopened-step>--->
        }
      }
      </div>
    </div>
  </div>
</div>
